h3 {
  color: darkblue;
}

/* Se 2 selettori hanno la stessa SPECIFICITA' vince quello che arriva dopo 
strong {
  color: green;
}

strong {
  color: red;
}

*/

footer strong {
  /* Questo selettore ora ha SPECIFICITA' più alta rispetto a quello successivo, essendo più "forte" vincerà */
  color: green;
}

strong {
  /* Nonostante questo selettore arrivi dopo, verrà ignorato perché il selettore più in alto ha SPECIFICITA' maggiore */
  color: red;
}

/* SELETTORI PER CLASSI */
.paragrafo {
  font-size: 1.2em;
  color: blue;
}

p {
  color: purple;
}

/* SELETTORE PER ID */
#par1 {
  color: rgba(99, 236, 87, 0.322);
  font-size: 1.2rem;
}

html {
  font-size: 20px;
}

body {
  font-family: Lato, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 117, 121, 0.43469887955182074) 39%, rgba(0, 212, 255, 1) 100%); */
}

h1 {
  font-weight: 900;
  text-shadow: 4px black;
}

#par3 span {
  background-color: grey;
}

#par3 > span {
  background-color: grey;
}

#par1 > .testo-rosso {
  background-color: coral;
}
